.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: #DDD1C6;
    color: #9B9389;
}

.social_list {
    display: flex;
    list-style: none;
}

.social_list li {
    margin-right: .5em;
}

.social_list a {
    font-size: 1.2em;
    color: #9B9389;
    transition: 0.5s;
}

.social_list a:hover {
    color: #555231;
}

.copy_right span {
    font-weight: 500;
}