.nav {
    padding: 2em;
    background-color: #C9B7A3;
    color: #817b73;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.list li {
    font-weight: 600;
}

.list span {
    font-size: 2em;
}