@media (max-width: 1300px) {
    .form_container .photos img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 911px) {
    .form_container .photos img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 805px) {
    .form_container .form {
        flex-wrap: wrap;
    }
    .form_container .photos img {
        width: 150px;
        height: 150px;
    }
    .form_container .info {
        width: 100%;
    }

}

@media (max-width: 330px) {

    .form_container .photos img {
        width: 130px;
        height: 130px;
    }
}

.form_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 4em;
    font-size: .9em;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    column-gap: 1em;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.photos img {
<<<<<<< HEAD
    width: 300px;            /* Define a largura do contêiner */
  height: 200px;           /* Define a altura do contêiner */
  object-fit: cover;       /* Faz a imagem cobrir todo o contêiner */
  object-position: 50% 70%;
=======
    width: 300px;
    height: 300px;
>>>>>>> b89aa9b2f071a06d44ba439b1430a3da491547b4
}

.photos span {
    padding: .2em;
    background-color: #181818;
    color: #fff;
    border-radius: .3em;
}

.file {
    display: none;
}

.info {
    width: 50%;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.input label {
    font-size: 1.2em;
    font-weight: bold;
}

.input input {
    margin-bottom: .5em;
    padding: .2em 1em;
}

.input textarea {
    height: 100px;
}

.button {
    display: flex;
    align-items: center;
}

.buttons button {
    background-color: transparent;
    border: 2px solid #181818;
    color: #fff;
    border: none;
    padding: .3em 1em;
    margin-right: 1em;
    transition: .5s;
}

.buttons input {
    width: 20px;
}